:root {
  --header-height: 11rem;
  --header-font: "Shrikhand", serif;
  --paragraph-font: "Give You Glory", cursive;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  /* background-color: #f5f0e1; */
  /* z-index: 0; */
  font-family: var(--paragraph-font);
}

/* section {
  max-width: 900px;
} */

h1,
h2,
h3,
p {
  color: #273526;
}

button,
select {
  font-family: var(--paragraph-font);
  font-weight: bold;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.6rem;
  padding: 0.6rem 1rem;
  border: 0.5px ridge white;
  box-shadow: 0 0.1rem 1.5rem 0.1rem white;
  opacity: 1;
  z-index: 1;
  color: rgba(0, 0, 0, 0.6);
}

button:hover,
select:hover {
  cursor: pointer;
}

button:focus-visible {
  border: none;
}

.header {
  border: 1px solid blue;
  /* position: absolute; */
  z-index: 2;
  /* min-width: 100%; */
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
}

/* .header__container {
  align-content: center;
  justify-items: center;
} */

.header__nav {
  position: absolute;
  align-self: flex-end;
  text-align: end;
}

.header__nav-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  font-size: 1.2rem;
}

.header__nav-link {
  color: #273526;
  border: 1px solid violet;
  /* min-height: 100%; */
  padding-inline-end: 2rem;
  writing-mode: vertical-lr;
  text-decoration: none;
}

.main__hero__cutout {
  transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
  /* z-index: 0; */
  position: relative;
}

.main__hero-title {
  grid-column: 2;
  grid-row: 1 / span 2;
  transform: translateY(2rem);
  /* margin-block-start: auto; */
}

.main__hero__logo {
  max-width: 35rem;
}

.main__hero-description {
  max-width: 30rem;
  grid-column: 2;
  grid-row: 2 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  transform: rotate(-2deg);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
  /* border: 1px solid blue; */
}

.main__hero__cutout--paper {
  /* border: 1px solid green; */
  position: absolute;
  z-index: 1;
}

.main__hero-description-text {
  /* border: 1px solid red; */
  font-size: 1.4rem;
  position: relative;
  z-index: 2;
}

.main__hero__cutout--magic {
  max-width: 21rem;
  margin-block-start: auto;
  grid-column: 1;
  grid-row: 2 / span 2;
}

.main__hero__cutout--coffee {
  max-width: 15rem;
  grid-column: 1;
  grid-row: 1 / span 2;
  z-index: 1;
  position: relative;
  margin-block-end: auto;
  margin-inline-end: auto;
}

.main__hero__cutout--butterfly {
  max-width: 15rem;
  grid-column: 1;
  grid-row: 1;
  margin-inline: auto;
  margin-block: auto;
  /* z-index: 1; */
}

.main__hero__cutout--flowers {
  max-width: 20rem;
  grid-column: 3;
  grid-row: 1;
  margin-inline-end: auto;
}

.main__hero {
  perspective: 2000px;
  max-width: 90vw;
  min-height: 90vh;
  margin-inline: auto;
  border: 0.5px solid #d9d7e3;
  /* position: relative; */
  transform: perspective(800px) rotateX(10deg);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  /* z-index: 0; */
  /* transform-origin: center top; */
  /* clip-path: ellipse(80% 60% at 50% 100%); */
}

.main__hero-grid {
  background: url("/images/graph-paper-bg.png") no-repeat center/cover;
  transition: transform 2s ease-in-out;
  transform-origin: left center;
  min-height: 90vh;
  /* z-index: 0; */
  /* position: absolute; */
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.flip {
  transform: rotateY(-180deg);
}

.welcome {
  border: 1px solid teal;
}

/* .welcome__container { */
/* position: absolute; */
/* top: 5%; */
/* display: none; */
/* min-inline-size: 100vw; */
/* padding: 1rem; */
/* background: rgba(250, 249, 246, 0.95); */
/* border-radius: 0.5rem; */
/* } */

.welcome__title {
  font-family: "Cinzel", serif;
  /* text-align: center; */
  font-size: 5rem;
  color: black;
}

.welcome__description {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  color: black;
  display: none;
}

.benefits {
  /* background: rgba(250, 249, 246, 0.95); */
  /* max-inline-size: 800px; */
  /* align-items: center; */
  /* min-block-size: 100%; */
  border: 1px solid pink;
  display: none;
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: center; */
  /* min-inline-size: 100vw; */
  /* min-block-size: 100vh; */
  /* grid-template-rows: 3fr 1fr 1fr 2fr 2fr 3fr; */
  /* grid-template-rows: fit-content; */
}

.benefits__title {
  text-align: center;
  /* grid-column: span 3; */
  /* min-block-size: fit-content; */
}

.benefits__grid-item {
  border: 1px solid green;
  max-inline-size: 15rem;
  justify-items: center;
  text-align: center;
}

.benefits__introduction-container {
  border: 1px solid blue;
  /* grid-template-columns: 3fr 1fr 2fr; */
}

.benefits__introduction {
  /* grid-column: span 3; */
  /* max-width: 30rem; */
  justify-self: center;
}

.benefits__introduction-instruction {
  /* grid-column: span 3; */
  /* max-width: 30rem; */
  justify-self: center;
}

.benefits__description {
  /* max-inline-size: 15rem; */
  animation: fade-in 1s ease-in-out;
}

/* .benefits__introduction-instruction {
  text-align: center;
} */

.benefits__description--hidden {
  display: none;
}

.benefits__description--reveal {
  display: block;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.benefits__icon {
  /* grid-column: span 1; */
  min-inline-size: 12rem;
  min-block-size: 12rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.benefits__icon:hover {
  cursor: pointer;
  animation: floatEffect 2s ease-in-out infinite;
}

@keyframes floatEffect {
  /* 0% { transform: translateY(0); } */
  50% {
    transform: translateY(-5px);
  }
  /* 100% { transform: translateY(0); } */
}

.benefits__icon--emotional-wellness {
  background-image: url("/images/emotional-wellness-icon.png");
}

.benefits__icon--self-awareness {
  background-image: url("/images/self-awareness-icon.png");
}

.benefits__icon--memory {
  background-image: url("/images/memory-icon.png");
}

.benefits__icon--creativity {
  background-image: url("/images/creativity-icon.png");
}

/* .prompts__container {
  display: flex;
  min-inline-size: 65vw;
  min-block-size: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: 1px solid red;
}

.prompts__output {
  font-size: 3rem;
}

.prompts__button {
  padding: 1.5rem 2rem;
} */

.emotion-selector {
  display: grid;
  gap: 5rem;
  border: 1px solid green;
  display: none;
}

.emotion-selector__container {
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emotion-selector__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  z-index: 1;
}

.emotion-selector__add-to-calendar {
  max-width: fit-content;
}

.emotion-selector__reset-calendar {
  margin-block: 1rem;
}

.emotion-selector__calendar-dropdown {
  position: absolute;
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background: white;
}

.calendar-container {
  /* margin-inline-start: auto; */
  margin-block-start: 5rem;
  z-index: 1;
  border: 1px solid orange;
  display: none;
}

.calendar-container__grid {
  max-inline-size: 100%;
}

.journal-entry {
  display: none;
}

.journal-entry-text {
  min-inline-size: 25rem;
  min-block-size: 10rem;
  field-sizing: content;
}

.fc-h-event {
  background-color: transparent !important;
  border: none !important;
}

.fc-daygrid-day.no-event-previous-date:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.fc-sticky {
  display: flex !important;
  justify-content: center !important;
  font-size: 1.5rem !important;
}

.fc-event-title-container {
  background-color: none;
}

.hidden {
  display: none;
}

/* 
@media (width < 48rem) {
  .calendar-container {
    max-inline-size: 100%;
  }

  .mood-tracker-header {
    margin-inline: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  .mood-tracker-input {
    display: flex;
    gap: 0.5rem;
  }
} */
