:root {
  --header-height: 11rem;
  --header-font: "Shrikhand", serif;
  --paragraph-font: "Yuji Syuku", serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  background: white;
  background-repeat: no-repeat;
  font-family: var(--paragraph-font);
}

/* section {
  max-width: 900px;
} */

h1,
h2,
h3,
p {
  color: #273526;
}

button,
select {
  font-family: var(--paragraph-font);
  font-weight: bold;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.6rem;
  padding: 0.6rem 1rem;
  border: 0.5px ridge white;
  box-shadow: 0 0.1rem 1.5rem 0.1rem white;
  opacity: 1;
  z-index: 1;
  color: rgba(0, 0, 0, 0.6);
}

button:hover,
select:hover {
  cursor: pointer;
}

button:focus-visible {
  border: none;
}

.header {
  /* max-width: 100%; */
  /* border: 1px solid blue; */
  position: absolute;
  min-width: 100vw;
  min-height: 50vh;
  display: flex;
  align-items: center;
  /* display: flex; */
  justify-content: center;
  /* text-align: center; */
  /* min-height: 100vh; */
  /* min-inline-size: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* position: absolute; */
  /* top: 0; */
  /* align-self: center; */
  /* right: 0; */
  /* width: 100%; */
  /* background: rgba(250, 249, 246, 0.5); */
  /* z-index: 1000; */
}

.header__nav {
  /* display: flex; */
  display: none;
  /* margin-block-end: 0.5rem; */
  border: 1px solid green;
  /* min-height: 100vh; */
  /* display: flex; */
  /* align-items: baseline; */
  /* position: absolute; */
  /* padding-inline: 1rem; */
}

.header__logo {
  /* white-space: nowrap; */
  padding-inline: 1rem;
  /* display: flex; */
  /* margin-inline: auto; */
  /* padding-block: 0; */
  /* align-self: center; */
  /* justify-self: center; */
  font-size: 12.5rem;
  z-index: 2;
  position: relative;
  /* font-family: var(--header-font); */
  /* color: rgba(250, 249, 246, 0.7); */
  /* text-align: center; */
  /* display: none; */
  /* border: 1px solid brown; */
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline-start: auto;
  list-style-type: none;
  font-size: 1.2rem;
  /* min-width: fit-content; */
}

.header__nav-link {
  color: #273526;
  border: 1px solid violet;
  /* min-width: fit-content; */
  /* color: rgba(250, 249, 246, 0.7); */
  text-decoration: none;
}

.main__hero__cutout {
  transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
  z-index: 1;
  position: relative;
  /* opacity: 0.5; */
  /* border: 1px solid black; */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); */
}

.main__hero__cutout:hover {
  filter: drop-shadow(0px 5px 8px rgba(89, 62, 36, 0.6));
  transform: var(--base-transform) scale(1.1);
  /* opacity: 1; */
}

.main__hero__wrapper {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  object-fit: contain;
  margin-inline: auto;
  align-self: center;
  gap: 0.5rem;
  /* margin: auto; */
  /* align-self: self-end; */
  /* max-width: fit-content; */
}

.main__hero__cutout--camera {
  --base-transform: translate(0%, 0%);
  max-width: 20rem;
  /* object-fit: contain; */
  grid-column: 3;
  grid-row: 1;
  margin-block-end: auto;
  margin-inline-end: auto;
  transform: var(--base-transform);
}

.main__hero__cutout--journal {
  --base-transform: rotate(-5deg);
  max-width: 17rem;
  margin-block: auto;
  grid-column: 1;
  grid-row: 2 / span 2;
  margin-inline: auto;
  transform: var(--base-transform);
}

.main__hero__cutout--coffee {
  --base-transform: translateX(10%);
  max-width: 13rem;
  grid-column: 1;
  grid-row: 1;
  margin-block: auto;
  margin-inline-end: auto;
  /* align-self: flex-end; */
  transform: var(--base-transform);
}

.main__hero__cutout--candle {
  --base-transform: translateX(-30%);
  max-width: 9rem;
  grid-column: 3;
  grid-row: 1;
  margin-block: auto;
  margin-inline-start: auto;
  transform: var(--base-transform);
}

.main__hero__cutout--glasses {
  --base-transform: rotate(-5deg);
  max-width: 27rem;
  /* min-height: auto; */
  grid-column: 3;
  grid-row: 2 / span 2;
  margin-inline: auto;
  /* justify-self: flex-end; */
  margin-block: auto;
  transform: var(--base-transform);
}

.main__hero__cutout--typewriter {
  --base-transform: translate(0%, 0%);
  max-width: 26rem;
  grid-column: 2;
  grid-row: 2 / span 2;
  /* justify-self: center; */
  margin-block: auto;
  margin-inline: auto;
  /* justify-content: center; */
  /* margin-block-end: auto; */
  /* justify-self: start; */
  transform: var(--base-transform);
}

.main__hero__cutout--succulent {
  --base-transform: translate(0%, 0%);
  max-width: 12rem;
  transform: var(--base-transform);
}

/* .main__hero__cutout--books {
  --base-transform: translate(0%, 0%) rotate(20deg);
  max-width: 15rem;
  transform: var(--base-transform);
} */

.main__hero {
  min-height: 100vh;
  border: 3px solid black;
  /* justify-self: center; */
}

.main__hero__container {
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: auto; */
  /* grid-template-columns: auto auto auto; */
  /* grid-template-rows: 6fr; */
  /* grid-template-rows: repeat(3, 1fr); */
  /* margin-inline-start: auto; */
  /* min-height: 100vh; */
  border: 3px solid pink;
  /* align-content: center; */
  justify-self: center;
  /* align-items: flex-end; */
  /* justify-items: center; */
}

.welcome {
  border: 1px solid teal;
}

/* .welcome__container { */
/* position: absolute; */
/* top: 5%; */
/* display: none; */
/* min-inline-size: 100vw; */
/* padding: 1rem; */
/* background: rgba(250, 249, 246, 0.95); */
/* border-radius: 0.5rem; */
/* } */

.welcome__title {
  font-family: "Cinzel", serif;
  /* text-align: center; */
  font-size: 5rem;
  color: black;
}

.welcome__description {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  color: black;
}

.benefits {
  /* background: rgba(250, 249, 246, 0.95); */
  /* max-inline-size: 800px; */
  /* align-items: center; */
  /* min-block-size: 100%; */
  border: 1px solid pink;
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: center; */
  /* min-inline-size: 100vw; */
  /* min-block-size: 100vh; */
  /* grid-template-rows: 3fr 1fr 1fr 2fr 2fr 3fr; */
  /* grid-template-rows: fit-content; */
}

.benefits__title {
  text-align: center;
  /* grid-column: span 3; */
  /* min-block-size: fit-content; */
}

.benefits__grid-item {
  border: 1px solid green;
  max-inline-size: 15rem;
  justify-items: center;
  text-align: center;
}

.benefits__introduction-container {
  border: 1px solid blue;
  /* grid-template-columns: 3fr 1fr 2fr; */
}

.benefits__introduction {
  /* grid-column: span 3; */
  /* max-width: 30rem; */
  justify-self: center;
}

.benefits__introduction-instruction {
  /* grid-column: span 3; */
  /* max-width: 30rem; */
  justify-self: center;
}

.benefits__description {
  /* max-inline-size: 15rem; */
  animation: fade-in 1s ease-in-out;
}

/* .benefits__introduction-instruction {
  text-align: center;
} */

.benefits__description--hidden {
  display: none;
}

.benefits__description--reveal {
  display: block;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.benefits__icon {
  /* grid-column: span 1; */
  min-inline-size: 12rem;
  min-block-size: 12rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.benefits__icon:hover {
  cursor: pointer;
  animation: floatEffect 2s ease-in-out infinite;
}

@keyframes floatEffect {
  /* 0% { transform: translateY(0); } */
  50% {
    transform: translateY(-5px);
  }
  /* 100% { transform: translateY(0); } */
}

.benefits__icon--emotional-wellness {
  background-image: url("/images/emotional-wellness-icon.png");
}

.benefits__icon--self-awareness {
  background-image: url("/images/self-awareness-icon.png");
}

.benefits__icon--memory {
  background-image: url("/images/memory-icon.png");
}

.benefits__icon--creativity {
  background-image: url("/images/creativity-icon.png");
}

/* .prompts__container {
  display: flex;
  min-inline-size: 65vw;
  min-block-size: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: 1px solid red;
}

.prompts__output {
  font-size: 3rem;
}

.prompts__button {
  padding: 1.5rem 2rem;
} */

.emotion-selector {
  display: grid;
  gap: 5rem;
  border: 1px solid green;
  display: none;
}

.emotion-selector__container {
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emotion-selector__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  z-index: 1;
}

.emotion-selector__add-to-calendar {
  max-width: fit-content;
}

.emotion-selector__reset-calendar {
  margin-block: 1rem;
}

.emotion-selector__calendar-dropdown {
  position: absolute;
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background: white;
}

.calendar-container {
  /* margin-inline-start: auto; */
  margin-block-start: 5rem;
  z-index: 1;
  border: 1px solid orange;
  display: none;
}

.calendar-container__grid {
  max-inline-size: 100%;
}

.journal-entry {
  display: none;
}

.journal-entry-text {
  min-inline-size: 25rem;
  min-block-size: 10rem;
  field-sizing: content;
}

.fc-h-event {
  background-color: transparent !important;
  border: none !important;
}

.fc-daygrid-day.no-event-previous-date:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.fc-sticky {
  display: flex !important;
  justify-content: center !important;
  font-size: 1.5rem !important;
}

.fc-event-title-container {
  background-color: none;
}

.hidden {
  display: none;
}

/* 
@media (width < 48rem) {
  .calendar-container {
    max-inline-size: 100%;
  }

  .mood-tracker-header {
    margin-inline: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  .mood-tracker-input {
    display: flex;
    gap: 0.5rem;
  }
} */
