:root {
  --header-height: 11rem;
  --header-font: "Lavishly Yours", serif;
  --paragraph-font: "Yuji Syuku", serif;
}

html {
  min-inline-size: 100vw;
}

body {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-inline-size: 100%;
  margin: 0;
  background: #faf9f6;
  background-repeat: no-repeat;
  font-family: var(--paragraph-font);
}
/* main {
  border: 1px solid black;
} */

h1,
h2,
h3,
p {
  color: #273526;
}

button,
select {
  font-family: var(--paragraph-font);
  font-weight: bold;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.6rem;
  padding: 0.6rem 1rem;
  border: 0.5px ridge white;
  box-shadow: 0 0.1rem 1.5rem 0.1rem white;
  opacity: 1;
  z-index: 1;
  color: rgba(0, 0, 0, 0.6);
}

button:hover,
select:hover {
  cursor: pointer;
}

button:focus-visible {
  border: none;
}

/* ORGANIZE INTO CORRECT SECTIONS */

.header {
  min-inline-size: 100%;
  position: fixed; /* Keeps the navbar at the top */
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(
    250,
    249,
    246,
    0.95
  ); /* Slightly transparent for a modern look */
  z-index: 1000;
  /* border: 1px solid blue; */
}

.header__nav {
  display: flex;
  margin-block-end: 0.5rem;
  align-items: baseline;
  padding-inline: 1rem;
}

.header__brand {
  white-space: nowrap;
  margin-block: 0;
  font-size: 3.5rem;
  font-family: var(--header-font);
  color: #4c583e;
  text-align: center;
  /* border: 1px solid red; */
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-inline-start: auto;
  /* border: 1px solid pink; */
  list-style-type: none;
}

.header__nav-link {
  color: #273526;
  text-decoration: none;
}

.main__hero {
  min-inline-size: 100%;
  min-block-size: 100vh;
  background-image: url("/images/journaling-landscape.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: relative;
}

.welcome {
  display: flex;
  justify-content: center;
  margin: auto;
}

.welcome__container {
  position: absolute;
  top: 35%;
  max-inline-size: 40rem;
  padding: 2rem;
  background: rgba(250, 249, 246, 0.95);
  border-radius: 0.5rem;
}

.welcome__title {
  text-align: center;
}

.benefits__title {
  text-align: center;
}

.benefits__grid {
  display: grid;
  min-inline-size: 90%;
  gap: 1rem 2rem;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: first baseline;
  justify-self: center;
  border: 1px solid blue;
}

.benefits__display-description {
  justify-self: center;
  font-size: 1.3rem;
  border: 1px solid black;
}

.benefits__description {
  max-inline-size: 50rem;
  padding: 2.5rem;
  border: 1px solid red;
}

.benefits__description--hidden {
  display: none;
}

.benefits__item {
  border: 1px solid red;
  max-inline-size: 30rem;
  justify-items: center;
}

.benefits__icon {
  min-inline-size: 15rem;
  min-block-size: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid blue;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}

.benefits__icon:hover {
  cursor: pointer;
  transform: perspective(1000px) rotateY(180deg) scale3d(1.1, 1.1, 1.1);
}

.benefits__icon--emotional-wellness {
  background-image: url("/images/emotional-wellness-icon.png");
  /* transform: translateX(50%); */
}

.benefits__icon--self-awareness {
  background-image: url("/images/self-awareness-icon.png");
}

.benefits__icon--memory {
  background-image: url("/images/memory-icon.png");
}

.benefits__icon--creativity {
  background-image: url("/images/creativity-icon.png");
}

.prompts__container {
  display: flex;
  height: calc(100vh - var(--header-height));
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: 1px solid yellow;
}

.prompts__output {
  font-size: 3rem;
}

.prompts__button {
  padding: 1.5rem 2rem;
}

.emotion-selector {
  display: grid;
  gap: 5rem;
  border: 1px solid green;
}

.emotion-selector__container {
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emotion-selector__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  z-index: 1;
}

.emotion-selector__add-to-calendar {
  max-width: fit-content;
}

.emotion-selector__reset-calendar {
  margin-block: 1rem;
}

.emotion-selector__calendar-dropdown {
  position: absolute;
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background: white;
}

.calendar-container {
  margin-inline-start: auto;
  margin-block-start: 5rem;
  z-index: 1;
  border: 1px solid orange;
}

.calenda-container__grid {
  max-inline-size: 100%;
}

.fc-h-event {
  background-color: transparent !important;
  border: none !important;
}

.fc-daygrid-day.no-event-previous-date:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.fc-sticky {
  display: flex !important;
  justify-content: center !important;
  font-size: 1.5rem !important;
}

.fc-event-title-container {
  background-color: none;
}

.hidden {
  display: none;
}

/* 
@media (width < 48rem) {
  .calendar-container {
    max-inline-size: 100%;
  }

  .mood-tracker-header {
    margin-inline: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  .mood-tracker-input {
    display: flex;
    gap: 0.5rem;
  }
} */
