:root {
  --header-height: 11rem;
  --header-font: "Allura", serif;
  --paragraph-font: "Yuji Syuku", serif;
}

html {
  min-inline-size: 100vw;
}

body {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-inline-size: 100%;
  margin: 0;
  background: #faf9f6;
  background-repeat: no-repeat;
  font-family: var(--paragraph-font);
}

header {
  min-inline-size: 100%;
  border: 1px solid blue;
}
main {
  border: 1px solid black;
}

h1,
h2,
h3,
p {
  z-index: 1;
}

p {
  color: black;
}

button,
select {
  font-family: var(--paragraph-font);
  font-weight: bold;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.6rem;
  padding: 0.6rem 1rem;
  border: 0.5px ridge white;
  box-shadow: 0 0.1rem 1.5rem 0.1rem white;
  opacity: 1;
  z-index: 1;
  color: rgba(0, 0, 0, 0.6);
}

button:hover,
select:hover {
  cursor: pointer;
}

button:focus-visible {
  border: none;
}

nav {
  display: flex;
  margin-block: 0;
  align-items: baseline;
  padding-inline: 1rem;
}

.landscape-image {
  min-inline-size: 100%;
  min-block-size: calc(100vh - 74px);
  background-image: url("/images/journaling-landscape.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-inline-start: auto;
  border: 1px solid pink;
  list-style-type: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.animated-header {
  white-space: nowrap;
  margin-block: 0;
  font-size: 3.5rem;
  font-family: var(--header-font);
  color: #8b998c;
  text-align: center;
  border: 1px solid red;
}

.mood-tracker-header {
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mood-tracker-input {
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 1fr;
  z-index: 1;
}

.fc-h-event {
  background-color: transparent !important;
  border: none !important;
}

.fc-daygrid-day.no-event-previous-date:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.fc-sticky {
  display: flex !important;
  justify-content: center !important;
  font-size: 1.5rem !important;
}

.calendar-container {
  margin-inline-start: auto;
  margin-block-start: 5rem;
  z-index: 1;
  border: 1px solid orange;
}

.fc-event-title-container {
  background-color: none;
}

.hidden {
  display: none;
}

#prompt-button {
  padding: 1.5rem 2rem;
}

#prompt-display {
  font-size: 3rem;
}

.prompt-container {
  display: flex;
  height: calc(100vh - var(--header-height));
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: 1px solid yellow;
}

#add-emotions-button {
  max-width: fit-content;
}

#clear-emotions-button {
  margin-block: 1rem;
}

#mood-tracker {
  display: grid;
  gap: 5rem;
  border: 1px solid green;
}

#select-emotion-calendar {
  position: absolute;
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background: white;
}

#calendar {
  max-inline-size: 100%;
}

@media (width < 48rem) {
  .calendar-container {
    max-inline-size: 100%;
  }

  .mood-tracker-header {
    margin-inline: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  .mood-tracker-input {
    display: flex;
    gap: 0.5rem;
  }
}
